<a href="https://colab.research.google.com/github/Trading-com-Dados/Jornada-Quant/blob/main/Aula_01_Jornada_Quant_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estudo de caso: 
1. Criar uma carteira fictÃ­cia
2. Simular novos aportas
3. Otimizar com Modelos Quantitativos
4. Comparativo de perfomance (backtesting)

## 1. Instalar e abrir bibliotecas

In [2]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.63)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)

In [3]:
import yfinance as yf
import pandas as pd # criado pela AQR
import numpy as np

## 2. Obtendo dados de mercado financeiro

In [4]:
ativos = ['PETR4.SA','VALE3.SA', 'WEGE3.SA', 
          'RADL3.SA', 'OIBR3.SA','KNRI11.SA','FLMA11.SA','BOVA11.SA',
          'SMAL11.SA','AAPL34.SA','IVVB11.SA','ETH-USD','USDBRL=X']

In [5]:
inicio = '2020-05-01'
fim = '2021-10-11'

In [6]:
weg = yf.download('WEGE3.SA', start = inicio, end = fim)

[*********************100%***********************]  1 of 1 completed

In [7]:
weg.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-05-04  19.490000  19.995001  19.105000  19.920000  19.638863   9817200
2020-05-05  20.150000  20.360001  19.415001  19.504999  19.229719   8225000
2020-05-06  19.530001  19.615000  18.850000  19.415001  19.140989  13304600
2020-05-07  19.615000  20.445000  19.360001  19.545000  19.269150  19214200
2020-05-08  20.000000  20.049999  19.000000  19.120001  18.850149  10146600

In [8]:
precos = pd.DataFrame()

for i in ativos:
  precos[i] = yf.download(i, start = inicio, end = fim)['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [9]:
precos.head()

             PETR4.SA   VALE3.SA   WEGE3.SA  ...   IVVB11.SA     ETH-USD  USDBRL=X
Date                                         ...
2020-05-04  15.868637  35.844715  19.638861  ...  169.199997  208.174011  5.477000
2020-05-05  16.379940  35.657047  19.229717  ...  172.240005  206.774399  5.540600
2020-05-06  15.777334  36.171097  19.140987  ...  174.649994  204.055786  5.578100
2020-05-07  15.923419  37.574528  19.269154  ...  183.000000  212.289413  5.715200
2020-05-08  16.872980  39.859192  18.850153  ...  180.750000  212.991577  5.828719

[5 rows x 13 columns]

In [10]:
precos['ETH-BRL'] = precos['ETH-USD']*precos['USDBRL=X']

In [11]:
precos = precos.drop(columns = ['ETH-USD', 'USDBRL=X'])

In [12]:
precos.head()

             PETR4.SA   VALE3.SA   WEGE3.SA  ...  AAPL34.SA   IVVB11.SA      ETH-BRL
Date                                         ...
2020-05-04  15.868637  35.844715  19.638861  ...  39.984192  169.199997  1140.169109
2020-05-05  16.379940  35.657047  19.229717  ...  41.171104  172.240005  1145.654197
2020-05-06  15.777334  36.171097  19.140987  ...  42.726460  174.649994  1138.243622
2020-05-07  15.923419  37.574528  19.269154  ...  43.982609  183.000000  1213.276445
2020-05-08  16.872980  39.859192  18.850153  ...  44.384628  180.750000  1241.468082

[5 rows x 12 columns]

In [15]:
precos.isnull().sum()

PETR4.SA     0
VALE3.SA     0
WEGE3.SA     0
RADL3.SA     0
OIBR3.SA     0
KNRI11.SA    0
FLMA11.SA    0
BOVA11.SA    0
SMAL11.SA    0
AAPL34.SA    0
IVVB11.SA    0
ETH-BRL      0
dtype: int64

In [14]:
precos = precos.dropna()

## 3. Criando carteira fictÃ­cia

In [16]:
compras = {'PETR4.SA': 1000, 'VALE3.SA': 700, 'WEGE3.SA': 1500, 
           'RADL3.SA': 700, 'OIBR3.SA': 200, 'KNRI11.SA': 700, 'FLMA11.SA': 700, 'BOVA11.SA':1500,
           'SMAL11.SA': 1500, 'AAPL34.SA': 2000, 'IVVB11.SA': 1500, 
           'ETH-BRL': 200}
           
compras_df = pd.Series(data=compras, index=list(compras.keys()))

In [17]:
compras_df

PETR4.SA     1000
VALE3.SA      700
WEGE3.SA     1500
RADL3.SA      700
OIBR3.SA      200
KNRI11.SA     700
FLMA11.SA     700
BOVA11.SA    1500
SMAL11.SA    1500
AAPL34.SA    2000
IVVB11.SA    1500
ETH-BRL       200
dtype: int64

In [18]:
compras.values()

dict_values([1000, 700, 1500, 700, 200, 700, 700, 1500, 1500, 2000, 1500, 200])

In [19]:
sum(compras.values())

12200

In [22]:
primeiros = precos.iloc[0]

In [24]:
qtd_acoes = compras_df/primeiros

In [25]:
PL = precos*qtd_acoes

In [26]:
PL.head()

               PETR4.SA    VALE3.SA  ...    IVVB11.SA     ETH-BRL
Date                                 ...
2020-05-04  1000.000000  700.000000  ...  1500.000000  200.000000
2020-05-05  1032.220974  696.335095  ...  1526.950431  200.962154
2020-05-06   994.246332  706.373804  ...  1548.315577  199.662245
2020-05-07  1003.452213  733.780959  ...  1622.340455  212.823946
2020-05-08  1063.291071  778.397436  ...  1602.393646  217.769114

[5 rows x 12 columns]

In [27]:
PL.tail()

               PETR4.SA     VALE3.SA  ...    IVVB11.SA      ETH-BRL
Date                                  ...
2021-10-04  1814.270549  1474.220072  ...  2253.368770  3182.682261
2021-10-05  1853.971448  1463.674567  ...  2293.439866  3365.673522
2021-10-06  1804.817845  1504.880095  ...  2305.319266  3439.028040
2021-10-07  1802.297212  1549.796120  ...  2337.766108  3456.469541
2021-10-08  1835.066281  1559.365132  ...  2331.649065  3448.832369

[5 rows x 12 columns]

In [28]:
PL['PL Total'] = PL.iloc[:].sum(axis = 1)

In [29]:
PL.head()

               PETR4.SA    VALE3.SA  ...     ETH-BRL      PL Total
Date                                 ...
2020-05-04  1000.000000  700.000000  ...  200.000000  12200.000000
2020-05-05  1032.220974  696.335095  ...  200.962154  12317.815679
2020-05-06   994.246332  706.373804  ...  199.662245  12376.622217
2020-05-07  1003.452213  733.780959  ...  212.823946  12517.791936
2020-05-08  1063.291071  778.397436  ...  217.769114  12638.756023

[5 rows x 13 columns]

In [30]:
PL.tail()

               PETR4.SA     VALE3.SA  ...      ETH-BRL      PL Total
Date                                  ...
2021-10-04  1814.270549  1474.220072  ...  3182.682261  21977.025243
2021-10-05  1853.971448  1463.674567  ...  3365.673522  22222.719621
2021-10-06  1804.817845  1504.880095  ...  3439.028040  22281.082467
2021-10-07  1802.297212  1549.796120  ...  3456.469541  22461.931299
2021-10-08  1835.066281  1559.365132  ...  3448.832369  22679.582196

[5 rows x 13 columns]

## 4. Simulando um novo aporte

In [33]:
data_aporte = '2020-12-10'

In [34]:
precos.loc[data_aporte]

PETR4.SA       25.401283
VALE3.SA       72.255058
WEGE3.SA       35.111298
RADL3.SA       24.505922
OIBR3.SA        2.430000
KNRI11.SA     153.889999
FLMA11.SA     149.500000
BOVA11.SA     110.699997
SMAL11.SA     131.500000
AAPL34.SA      61.728062
IVVB11.SA     199.800003
ETH-BRL      2893.370167
Name: 2020-12-10 00:00:00, dtype: float64

In [35]:
segunda_compra = {'VALE3.SA': 2000, 'RADL3.SA': 1000, 'FLMA11.SA': 1000}
           
segunda_compra_df = pd.Series(data=segunda_compra, index=list(segunda_compra.keys()))